<p class="title">
    <% if params[:group_id] %>
        <%= @current_group.name %>
        group feed
    <% elsif params[:user_id] %>
        <%= @user.name %>
        user feed
    <% else %>
        Global feed
    <% end %>
</p>

<% @posts.each do |p| %>
    <article class="message">
    <div class="message-header">
        <p><%= p.title %></p>
        <% if current_user == p.author %>
            <%= link_to "delete", p, method: :delete, data: { confirm: 'Are you sure?' }, class:"delete"%>
        <% end %>
    </div>
    <div class="message-body">
        <p><%= p.body %></p>
        <ul class="p-4">
            <% if p.comments.empty? %>
                <p class="is-size-7">No comments here! Feel free to leave a nice message :)</p>
            <% else %>
                <% p.comments.each do |c| %>
                    <li><p><%= c.body %><i class="is-size-7"> comment by <%= link_to c.author.name, root_path(:user_id => c.author.id)%> at <%=c.created_at.to_formatted_s(:short)%></i></p></li>
                <% end %>
            <%end%>
        </ul>
        <%= form_for @comment do |form| %>
            <div class="field is-grouped">
                <%= form.text_field :body, class:"input  is-small", placeholder:"Comment body" %>
                <%= form.submit "Comment", class:"button ml-4  is-small"%>
            </div>
            <%= form.hidden_field :post_id, :value => p.id %>
            <%= form.hidden_field :author_id, :value => current_user.id %>
        <% end %>
        <p class="is-size-7 mt-4"><i>Posted at <%= p.created_at.to_formatted_s(:short) %> by <%= link_to p.author.name, root_path(:user_id => p.author.id)%></i></p>
        <div class="level mt-4">
            <% if p.likes.empty? %>
                <p>Be the first to show this post some love!</p>
            <% else %>
                <% p.user_likes.each do |ul| %>
                    <p><%= link_to ul.name, root_path(:user_id => ul.id)%>
                <%end%>
                liked this post!</p>
            <% end %>
            <% unless current_user.liked_posts.include?(p) %>
                <%= form_for @like do |form| %>
                    <%= form.hidden_field :post_id, :value => p.id %>
                    <%= form.hidden_field :user_id, :value => current_user.id %>
                    <%= form.submit "Like post", class:"button is-info is-small"%>
                <% end %>
            <% end %>
        </div>
        
    </div>
    </article>
<% end %>