
<%= form_with(model: @post) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, class:"input", placeholder:"Post title" %>
  </div>

  <div class="field">
    <%= form.text_area :body, class:"textarea", placeholder:"Post body"%>
  </div>

  <%= form.hidden_field :author_id, :value => current_user.id %>
  <%= form.hidden_field :group_id, :value => params[:group_id] %>

  <div class="actions has-text-centered">
    <%= form.submit "Create post", class:"button is-info"%>
  </div>
<% end %>
