<div class="columns m-4">
    <div class="column is-one-quarter">
        <div class="block">
            <%= render "users/profile" %>
        </div>
        <div class="block">
            <%= render "users/notifications" %>
        </div>
        <div class="block">
            <%= render "users/recommended" %>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <%= render "feed" %>
        </div>
    </div>
    <div class="column is-one-quarter">
        <div class="block">
            <%= render "groups/index" %>
        </div>
        <div class="block">
            <%= render "groups/form" %>
        </div>
        <% if @current_group %>
            <% if current_user == @current_group.leader %>
                <div class="block">
                    <%= render "invites/form"%>
                </div>
            <% end %>
        <% end %>
        <div class="block">
            <%= render "form" %>
        </div>
    </div>
</div>
