<div class="columns m-4">
    <div class="column">
        <div class="block">
            <%= render "users/profile" %>
        </div>
        <div class="block">
            <%= render "users/notifications" %>
        </div>
        <div class="block">
            <%= render "users/recommended" %>
        </div>
        <div class="block">
            <%= render "form" %>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <%= render "feed" %>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <%= render "groups/index" %>
        </div>
        <div class="block">
            <%= render "groups/form" %>
        </div>
    </div>
</div>
